body {
	background-color: rgb(250, 248, 240);
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	color: rgb(118, 110, 102);
	text-align: center;
	width: 1500px;
}

h1 {
	font-size: 72px;
	margin-top: 10px;
}

#subtitle {
	font-size: 14px;
	margin-top: -50px;
	margin-bottom: 40px;
}

#middle {
	text-align: center;
	width: 350px;
	margin: 0px 10px;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
}

#text-introduction {
	margin-top: -20px;
}

#instructions {
	margin-top: -10px;
}

#timer {
	border-radius: 10px;
	width: 170px;
	height: 80px;
	font-size: 86px;
	font-weight: bold;
	right: 50px;
	margin-left: 80px;
}

#on-off {
	background-color: #434343;
	width: 170px;
	border-radius: 3px;
	margin-top: 20px;
	display: none;
}

#restart {
	cursor: pointer;
	height: 30px;
	width: 100px;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	display: none;
	border: none;
	transition: all 0.4s ease 0s;
	background: rgb(140, 123, 105);
	margin-top: 10px;
}

#score {
	width: 170px;
	height: 80px;
	display: inline-block;
}

.tile {
	height: 85px;
	width: 125px;
	font-weight: bold;
	border-radius: 3px;
	margin: 17px -5px -5px 17px;
	background-color: rgba(238, 228, 218, 0.35);
	display: inline-block;
	vertical-align: top;
	padding: 35px 0px 0px 0px;
	transition: all 0.2s ease-in-out;
}

.secondGridTile {
	height: 85px;
	width: 125px;
	font-weight: bold;
	border-radius: 3px;
	margin: 17px -5px -5px 17px;
	background-color: rgba(238, 228, 218, 0.35);
	display: inline-block;
	vertical-align: top;
	padding: 35px 0px 0px 0px;
	transition: all 0.2s ease-in-out;
}

#container {
	height: 550px;
	width: 620px;
	border-radius: 6px;
	background-color: #bbada0;
	margin-top: -100px;
}

#secondGridContainer {
	height: 550px;
	width: 620px;
	border-radius: 6px;
	background-color: #bbada0;
	margin-top: -100px;
}

.row {
	margin-left: -20px;
}

.secondGridRow {
	margin-left: -20px;
}

#gameBox {
	display: flex;
}

#player-information {
	max-width: 1430px;
	text-align: left;
	font-size: 20px;
	margin-top: 10px;
}

#player-one {
	width: 500px;
	height: 100px;
	display: inline-block;
	float: left;
}

#player-two {
	width: 500px;
	height: 100px;
	display: inline-block;
	float: right;
}

#player-one-score, #player-two-score {
	margin-top: 0px;
}

#player-one-moves, #player-two-moves {
	margin-top: -20px;
}

#one-myText, #two-myText {
	height:25px;
	border-radius: 5px;
	border: 1px solid gray;
	width: 130px;
}

footer {
	display: inline-block;
	font-size: 18px;
}

a {color: rgb(118, 110, 102);} 
a:visited {color: rgb(118, 110, 102);}
a:hover {color: rgb(118, 110, 102);} 
a:active {color: rgb(118, 110, 102);}

#one-submit, #two-submit, #new-game {
	cursor: pointer;
	height: 30px;
	width: 150px;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	background: rgb(140, 123, 105);
	margin-top: 10px;
}

#one-submit:hover, #two-submit:hover, #new-game:hover, #restart:hover {
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

#first-overlay, #second-overlay {
   position: fixed;
   height: 100%; 
   width: 100%;
   top: 0;
   right: 0;  
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   display: none;
}

#first-popup, #second-popup {
   max-width: 600px;
   width: 80%;
   max-height: 300px;
   height: 80%; 
   padding: 20px;
   position: relative;
   background-color: rgba(238, 228, 218, 0.35);
   color: rgb(249, 246, 243);
   margin: 20px auto;
}

#first-close {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   color: #000;
}

#second-close {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   color: #000;
}

.button {
	height: 30px;
	width: 150px;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.button:hover {
	cursor: pointer;
	background-color: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}











