body {
	background-color: rgb(250, 248, 240);
	text-align: center;
}

.tile {
	height: 94px;
	width: 94px;
	font-weight: bold;
	border-radius: 3px;
	margin: 17px 0px 0px 17px;
	background-color: rgba(238, 228, 218, 0.35);
	display: inline-block;
	justify-content: space-between;
}

#container {
	display: inline-block;
	height: 470px;
	width: 470px;
	border-radius: 6px;
	background-color: #bbada0;
}