body {
	background-color: rgb(250, 248, 240);
}

.tile {
	height: 94px;
	width: 94px;
	text-align: center;
	font-weight: bold;
	border-radius: 3px;
	margin: 17px 0px 0px 17px;
	background-color: rgba(238, 228, 218, 0.35);
}

#container {
	box-sizing: border-box;
	display: flex;
	height: 460px;
	width: 460px;
	border-radius: 6px;
	background-color: #bbada0;
}